
.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #1d0a04e6;
    color: white
}

.header > * {
    margin: 20px 10px 0px 10px;
    padding: 10px;
    font-size: large;
    font-family: "Oleo Script", cursive;
}

.home-bg {
    height: 85vh;
    width: 100vw;
    background-image: url("https://www.linkedin.com/media-proxy/ext?w=1580&h=1053&hash=ThnKaAt4cKOLJsChTekFbUeuW5E%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6jnhxLjAsy6aOG40y_6QhOVpbZA22-AmW1_d3WNiLsL8PCebGk8UAScHoEjQ06K761QjTpQcK1KNzrLo0nlOG0ecm4f0JUOS8inGVKotsrPg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.home-bg > * {
    background-color: #19181894;
    color:white;
    text-align: center;
    padding:7%;
    font-family: "Oleo Script", cursive;
    font-size: x-large;
}
    


